*.py[cod]

# C extensions
*.so
*.o

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
test results.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Sublime
*.sublime*

*.doc*

# R
.Rhistory
.Rprofile
.Rproj
.Rproj.user
packrat

# Logs
*.log
*.log.*

# Luigi
client.cfg

# Scheduler
*.pickle
*.db

.cache

# Quad
.env
*.yml
*.sqlite

# ctags
tags

# Celery
celerybeat-schedule
celerybeat.pid

# Random output
*.csv

# Betfair certs
certs

# Pyrope
.ropeproject
