alabaster==0.7.7
Babel==2.2.0
cffi==1.5.0
characteristic==14.3.0
coverage==4.0.3
cryptography==1.2.2
cssselect==0.9.1
decorator==4.0.9
docutils==0.12
dotenv==0.0.5
enum34==1.1.2
idna==2.0
ipaddress==1.0.16
ipython==4.1.1
ipython-genutils==0.1.0
Jinja2==2.8
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
mccabe==0.4.0
numpy==1.10.4
pandas==0.17.1
path.py==8.1.2
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.6
pluggy==0.3.1
psycopg2==2.6.1
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pyflakes==1.0.0
Pygments==2.1
pyOpenSSL==0.15.1
python-dateutil==2.4.2
python-editor==0.5
pytz==2015.7
PyYAML==3.11
queuelib==1.4.2
Scrapy==1.0.5
service-identity==14.0.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.1.9
SQLAlchemy==1.0.11
traitlets==4.1.0
Twisted==15.5.0
virtualenv==14.0.6
w3lib==1.13.0
zope.interface==4.1.3
