arrow~=0.10.0
cached-property~=1.3.0
Flask~=0.12
Flask-Admin~=1.4.2
Flask-Compress~=1.4.0
Flask-Navigation~=0.2.0
Flask-Paginate~=0.4.5
Flask-SQLAlchemy-Session~=1.1
Flask-WTF~=0.14.2
gevent~=1.2.1
greenlet~=0.4.12
gunicorn~=19.7.1
luigi~=2.6.0
numpy
psycopg2
python-dotenv
records~=0.5.0
redis
rq
schedule~=0.4.2
scrapy~=1.4.0
slacker~=0.9.42
SQLAlchemy~=1.1.5
