{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Players - Darts Simulator{% endblock %}

{% block body %}

<div class="container">

  <div class="row top-buffer">

    {{ pagination.links }}

    <table class="table table-striped table-hover ">

      <thead>
        <tr>
          <th>Name</th>
          <th>PDC Ranking</th>
          <th>Checkout % (last 10 matches)</th>
          <th>Three Dart Average (last 10 matches)</th>
        </tr>
      </thead>

      <tbody>
      {% for player in players %}
        <tr>
          <th><a href="{{ url_for('.view_player', id=player.id) }}">{{ player.name }}</a></th>
          <th>{{ player.pdc_ranking }}</th>
          <th>{{ player.checkout_percent_last_n(10) }}</th>
          <th>{{ player.three_dart_avg_last_n(10) }}</th>
        </tr>
      {% endfor %}
      </tbody>

    </table>

    {{ pagination.links }}

  </div>

</div>

{% endblock %}
