{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Match Simulations - Darts Simulator{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/datatables.min.css') }}">
{% endblock %}

{% block body %}

<div class="container">

  <button id="new-simulation-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-simulation-modal">New Simulation</button>

  <div id="new-simulation-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>Run a new simulation</h4>
        </div>

        <form class="form form-medium" action="." method="post">
          {{ form.csrf_token }}
          <div class="modal-body">
            <dl>
              {{ render_field(form.match_type) }}
              {{ render_field(form.profile_a_id) }}
              {{ render_field(form.profile_b_id) }}
              {{ render_field(form.total_sets) }}
              {{ render_field(form.total_legs) }}
              {{ render_field(form.a_first) }}
              {{ render_field(form.a_handicap) }}
              {{ render_field(form.b_handicap) }}
              {{ render_field(form.iterations) }}
            </dl>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Run Simulation</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <br>

  <div class="row top-buffer">

    <table id="sims-table" class="table display nowrap">

      <thead>
        <tr>
          <th>Profile 1</th>
          <th>Profile 2</th>
          <th>Run time</th>
          <th>Iterations</th>
          <th>Profile 1 win %</th>
          <th>Profile 2 win %</th>
          <th>Details</th>
        </tr>
      </thead>

      <tbody>
      {% for sim in simulations %}
        <tr>
          <td>{{ '{} ({}{})'.format(sim.profile_a, sim.a_handicap, '*' if sim.a_first else '') }}</td>
          <td>{{ '{} ({}{})'.format(sim.profile_b, sim.b_handicap, '' if sim.a_first else '*') }}</td>
          <td>{{ sim.run_time or 'NA' }}</td>
          <td>{{ sim.iterations }}</td>
          {% if sim.stats %}
          <td>{{ 100 * sim.profile_a_win_percent ~ '%' }}</td>
          <td>{{ 100 * sim.profile_b_win_percent ~ '%' }}</td>
          {% else %}
          <td>Not yet calculated</td>
          <td>Not yet calculated</td>
          {% endif %}
          <td><a href="{{ url_for('.view_match_simulation', id=sim.id) }}">View details</a></td>
        </tr>
      {% endfor %}
      </tbody>

    </table>

  </div>

  <div class="row" top-buffer>
    <a class="btn btn-default" href="?all=1" role="button">Latest 50 sims loaded - click to load all simulations</a>
  </div>

</div>

{% endblock %}

{% block javascript %}

<script src="{{ url_for('static', filename='vendor/js/datatables.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#sims-table').DataTable({
    buttons: [],
    dom: 'lfrtip',
    order: [[2, 'desc']],
  });
});
</script>

{% if show_modal %}
  <script type="text/javascript">
    $(function() {
      $('#new-simulation-modal').modal();
    })
  </script>
{% endif %}
{% endblock %}
